.idea/
__pycache__/
*.pyc
.cache/
.pytest_cache/
env*/
venv/
error.log
env.txt
tool/
.idea/
all-tests.log
.vscode/
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Config
*config.py

.DS_Store
*.err
