pytest
flask
codecov
gunicorn
flask-cors
uuid
requests
boto3
boto
psycopg2
sqlalchemy
minio
mock
gevent
pytest-profiling
pytest-cov
six
mock
raven[flask]
pytest-mock
pytest-flask
radon
werkzeug==0.16.0
f8a_utils @ git+https://github.com/fabric8-analytics/fabric8-analytics-utils.git@c9d3f47#egg=f8a_utils